#menu {
  display: block;
}

#sidenav a.top {
  text-transform: uppercase;
}

#sidenav a.active {
  background-color: rgba(0, 0, 0, 0.15);
}

.card {
  cursor: pointer;
}

.card-content {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}
